#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  }

.colaboradores {
  display: flex ;
  justify-content: space-around;
  margin-top: 20px;
}

.apptitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

